$secondary-alt: dark-light-diff($secondary, $primary, 1%, -1%) !default;

:root {
	--secondary-alt: #{$secondary-alt};
	--link-hover: #{dark-light-diff($tertiary, $tertiary, 20%, 20%)};

	--header-gradient: #{dark-light-choose(
		linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)),
		linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
	)};
}

