$zebra-tint: dark-light-choose(rgba(0,0,0,0.01), rgba(255,255,255,0.01));

:root {
	--zebra-tint: #{$zebra-tint};
	--link-hover: #{dark-light-diff($tertiary, $tertiary, 20%, 20%)};

	--header-gradient: #{dark-light-choose(
		linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)),
		linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
	)};

	/* special variables for background image in desktop mode */
	--bgblend-wallpaper-alpha: 1;
	--bgblend-wallpaper-color: #{dark-light-choose(
		color(from var(--secondary) xyz x y z / calc(0.9 * var(--bgblend-wallpaper-alpha))),
		color(from var(--secondary) xyz x y z / var(--bgblend-wallpaper-alpha))
	)};
	--bgblend-content-alpha: 0.9;
	--bgblend-timeline-color: #{dark-light-choose(var(--tertiary-medium), var(--tertiary-low-or-tertiary-high))};
}

