@import "common/foundation/variables";

/* don't show userfields on signup */
#login-form .user-fields {
	display: none;
}

a:hover {
	color: var(--link-hover);
}

.d-header {
	background-image: var(--header-gradient);
}

/* header links */
@media (max-width: 550px) {
	.custom-header-links {
		display: none;
	}
}

@media (max-width: 650px) {
	.custom-header-links .headerLink:nth-child(n + 2) {
		display: none;
	}
}

@media (max-width: 750px) {
	.custom-header-links .headerLink:nth-child(n + 3) {
		display: none;
	}
}

.custom-header-links .headerLink a {
	font-size: var(--font-0);
	opacity: .75;
	white-space: nowrap;
}

.custom-header-links .headerLink a:hover {
	color: var(--header_primary);
	opacity: 1;
}

.custom-header-links .website-custom-header-links a {
	padding-left: 32px;
	background: no-repeat left center/24px url($img-website);
}

.custom-header-links .quotes-custom-header-links a {
	padding-left: 32px;
	background: no-repeat left center/24px url($img-quotes);
}

/* zebra striping in topic list */
.topic-list-item:nth-child(even) {
	background-color: var(--secondary-alt);
}

.topic-list-item:nth-child(odd) {
}

/* zebra striping in posts */
.topic-post:nth-child(even) .topic-body {
	background-color: var(--secondary-alt);
}

.topic-post:nth-child(odd) {
}

/* post stying tuning */
.topic-body {
	padding-left: 0.25em;
}

.topic-body .topic-meta-data {
	background-color: var(--tertiary-low);
	padding-top: .25em;
	border-radius: 0.375rem;
}

.mobile-view .topic-body .topic-meta-data {
	padding: .25em .25em .15em .25em;
	
	.names {
		line-height: inherit;
	}
}

.read-state {
	color: var(--tertiary-high);
}

/* plasma highlighting */
.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover, 
		.sidebar-sections .sidebar-section-link-wrapper:hover,
		.sidebar-sections .sidebar-section-link:hover  {
	background-image: url($img-plasma);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	--primary-medium: var(--primary-high);
	--d-sidebar-link-color: #fff;
	--d-sidebar-link-icon-color: #fff;
	--d-sidebar-highlight-color: #fff;
	
	a, a:visited, .badge-category {
		color: #fff;
	}
}

/* default user card image */
.user-card {
	background-image: url($img-profile-bg);
}

